body {
    padding: 0 20px;
}

.new-room-container {
    max-width: 705px;
}

button.new-room .title {
    font-size: 1.6em;
}

button.new-room .values {
    font-size: 0.8em;
    padding-left: 10%;
    padding-right: 10%;
}

#users .user {
    display: inline-block;
}

#users .user .username {
    display: inline-block;
}

#users .card {
    line-height: 1em;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    border: 1px solid #666;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.75em;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    overflow: hidden;
    padding-top: 0.75em;
}

#users .card.none {
    background-color: white;
}

.card .count {
    position: absolute;
    top: -.35em;
    left: 0.2em;
    font-size: .5em;
    color: red;
}

.stat-title {
    margin: 5px;
}

#header {
    border-bottom: 1px solid #666;
    margin: 0 5px 5px 5px;
    padding: 5px;
    border: 1px solid #666;

    -moz-border-bottom-right-radius: .3em;
    -moz-border-bottom-left-radius: .3em;
    -webkit-border-bottom-right-radius: .3em;
    -webkit-border-bottom-left-radius: .3em;
    -khtml-border-bottom-right-radius: .3em;
    -khtml-border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;

    border-top: none;
}

.cards .card {
    position: relative;
    line-height: 1em;
    display: inline-block;
    min-width: 1.7em;
    min-height: 1.6em;
    border: 1px solid #666;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 4em;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    padding-top: .75em;
    max-width: 6.7em;
    max-height: 6.6em;
    overflow: hidden;
    cursor: pointer;
}

.card.selected {
    background-color: #DDD;
}

