body {
    padding: 0 20px;
}

.new-room-container {
    max-width: 705px;
}

button.new-room .title {
    font-size: 1.6em;
}

button.new-room .values {
    font-size: 0.8em;
    padding-left: 10%;
    padding-right: 10%;
}

#users .user {
    display: inline-block;
}

#users .user .username {
    display: inline-block;
}

#users .card {
    line-height: 1em;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    border: 1px solid #666;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.75em;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    overflow: hidden;
    padding-top: 0.75em;
}

#users .card.none {
    background: white;
}

#users .card.none,
.cards .card {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

.stat-title {
    margin: 5px;
}

#header {
    border-bottom: 1px solid #666;
    margin: 0 5px 5px 5px;
    padding: 5px;
    border: 1px solid #666;

    -moz-border-bottom-right-radius: .3em;
    -moz-border-bottom-left-radius: .3em;
    -webkit-border-bottom-right-radius: .3em;
    -webkit-border-bottom-left-radius: .3em;
    -khtml-border-bottom-right-radius: .3em;
    -khtml-border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;

    border-top: none;
}

.cards .card {
    position: relative;
    line-height: 1em;
    display: inline-block;
    min-width: 1.7em;
    min-height: 1.6em;
    border: 1px solid #666;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 4em;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
    padding-top: .75em;
    max-width: 6.7em;
    max-height: 6.6em;
    overflow: hidden;
    cursor: pointer;
}

.card.selected {
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.card .count {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .5em;
    color: red;
    background-color: #FCC;
    padding-right: 4px;

    -moz-border-top-left-radius: 0.6em;
    -webkit-border-top-left-radius: 0.6em;
    -khtml-border-top-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
    padding-left: 4px;

    line-height: 1em;
}

