<h1>Create a Room</h1>
<div class="new-room-container">
    <button class="btn btn-large btn-block new-room" ng-click="createRoom('modified-fibonacci')"><div class="title">Modified Fibonacci</div><div class="values">0, 1/2, 1, 2, 3, 5, 8, 13, 20, 40, 100</div></button>
    <button class="btn btn-large btn-block new-room" ng-click="createRoom('shirt-sizes')"><div class="title">Shirt Sizes</div><div class="values">XS, S, M, L, XL</div></button>
    <button class="btn btn-large btn-block new-room" ng-click="createRoom('sequence')"><div class="title">Sequence</div><div class="values">0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10</div></button>
</div>
