!!! 5
html
    head
        title PokerFace: Planning Poker
        script
            var require = {
                baseUrl: '#{assetsUrl}'
            };
        script(src=assetsUrl+'/require.js', data-main='pokerface/main')
        link(rel='stylesheet', href=assetsUrl+'/bootstrap/bootstrap.css')
    body(ng-view)
